[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
pyarrow = "*"
pandas = "*"
matplotlib = "*"
jupyterlab = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
